body {
    background-color: #dddddd;
}

.name {
    background-color: #4aaaa5;
    float: left;
    height: 60px;
}

.nav {
    clear: both;
    background-color: #ffffff;
    height: 60px;
  
}

.left{
    padding: 20px;
    float: right;
}

.center{
    padding: 20px;
    float: right;
}

.right{
    padding: 20px;
    float: right;
}

.container {
    overflow: auto;
    clear: both;
    background-color: #ffffff;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
    
}

#profile-image {
    float: left;
    height: 150px;
    width: auto;
}
