body {
    background-color: #dddddd;
}

.name {
    background-color: #4aaaa5;
    float: left;
    height: 50px;
    margin-top: 0;
    margin-left: 130px;
    padding: 20px 10px 10px 10px;
}

#heading{
    color: #4aaaa5;
}

.nav {
    clear: both;
    background-color: #ffffff;
    height: 80px;
  
}

.left{
    padding:30px;
    float: right;
    color: #777777;
}

.center{
    padding: 30px;
    float: right;
    color: #777777;
}

.right{
    padding: 30px;
    float: right;
    color: #777777;
}

.container {
    overflow: auto;
    clear: both;
    background-color: #ffffff;
    width: 960px;
    padding: 20px;
    margin: 0 auto;
}

.left-buttons {
    margin-right: 130px; 
}

#profile-image {
    float: left;
    height: 175px;
    width: auto;
    padding-bottom: 20px;
    padding-right: 20px;
}

.content{
    color: #777777;
}